/* $Id$ */

.options {
  display: inline;
}

table.product_attributes tr.draggable div.form-item {
  display: inline;
}

table.product_attributes tr.draggable .form-item {
  white-space: normal;
}

#option-key td:first-child {
  width: 26%;
}

.combinations td:first-child, .combinations td:first-child + td {
  width: 12%;
}
