/* $Id$ */

.uc-orders-table tr.odd:hover, .uc-orders-table tr.even:hover {
  background-color: #ddd;
}

.uc-orders-table img {
  float: left;
  margin-right: .5em;
}

.order-admin-icons {
  margin-left: 2px;
}

.order-admin-icons img {
  position: relative;
  top: 3px;
  padding: 0px 3px;
}

.order-pane {
  border-style: solid;
  border-color: #bbb;
  border-width: 1px;
  padding: .5em;
  margin: .5em;;
  width: auto;
  line-height: 1.1em;
}

.order-pane thead {
  background-color: #ddd;
}

.order-pane tbody {
  border-top: 0px;
}

.order-pane-title {
  font-weight: bold;
  padding-bottom: .5em;
}

.pos-left {
  float: left;
}

.abs-left {
  /*float: left;*/
  clear: left;
}

.pos-right {
  float: right;
}

.abs-right {
  float: right;
  clear: right;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.order-pane-table {
  width: 100%;
}

.order-pane-table .order-pane-table-heading {
  font-weight: bold;
  background-color: #ddd;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #bbb;
}

.order-pane-table thead th {
  font-weight: bold;
  background-color: #ddd;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #bbb;
  padding: 4px 8px;
}

.order-pane-table tr {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #bbb;
}

.order-pane-table tr.odd td, .order-pane-table tr.even td {
  padding: 4px 8px;
}

.order-edit-table {
  width: auto;
}

.order-edit-table .oet-label {
  text-align: right;
  font-weight: bold;
}

.order-edit-table .form-item {
  display: inline;
}

.address-select-box {
  background-color: #ddd;
  border: solid 1px #999;
  width: auto;
  padding-left: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.customer-select-box {
  background-color: #ddd;
  border: solid 1px #999;
  width: auto;
  padding: 1em;
  margin-top: 1em;
}

.product-select-box {
  background-color: #ddd;
  border: solid 1px #999;
  width: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.product-select-box2 {
  background-color: #ddd;
  border: solid 1px #999;
  width: auto;
  margin-right: auto;
  margin-bottom: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
}

.line-item-table {
  width: 100%;
}

.line-item-table td {
  padding: 2px;
}

.line-item-table .li-title {
  width: 100%;
  font-weight: bold;
  text-align: right;
}

.line-item-table .li-amount {
  text-align: right;
}

.line-item-table .form-item {
  display: inline;
}

.order-review-table tbody {
  border-top: 0px;
}

.product-options {
  font-size: .7em;
}
