/**
 * @file
 * Styles for uc_order invoice.
 */

.uc-order-customer {
  border: 1px solid #cccccc;
  font-family: verdana, arial, helvetica;
  font-size: small;
  width: 95%;
  border: 0;
  border-collapse: collapse;
  box-shadow: 0px 0px 10px #cccccc;
}
.uc-order-customer td {
  border: none;
}
.uc-order-customer tr {
  background-color: #ffffff;
}
.uc-order-customer table {
  width: 100%;
}
.uc-order-customer label {
  padding: 5px;
  background-color: #efefef;
}
.uc-order-customer-label {
  padding: 5px;
  background-color: #efefef;
  margin: 5px 0;
}
.uc-order-customer-inner {
  width: 100%;"
}
.uc-order-customer-header {
  padding: 5px;
  background-color: #dddddd;
  color: #000;
  border-radius: 3px;
  font-size: 1.3em;
  font-weight: bold;
}
.uc-order-customer-logo {
  
}
.uc-order-customer-name {
  
}
.uc-order-customer-detail {
  
}
.uc-order-customer-message {
  
}
.uc-order-customer-main {
  width: 100%;
}
.uc-order-customer-header {
  
}
.uc-order-customer-addresses {
  
}
.uc-order-customer-header {
  
}
.uc-order-customer-shipping {
  
}
.uc-order-customer-addresses {
  
}
.uc-order-customer-products {
  
}
.uc-order-customer-qty {
  
}
.uc-order-customer-footer-wrapper {
  
}
.uc-order-customer-help {
  
}
.uc-order-customer-email {
  
}
.uc-order-customer-thx {
  
}
.uc-order-customer-footer {
  
}
.uc-order-customer-link {
  
}
.uc-order-customer-slogan {
  
}
