/* $Id$ */

/*.node .links {
  clear: right;
}*/ /* Decide in final theme if this is really desirable. */
/* div.image {
  cursor: pointer;
} */

.product_image {
  float: right;
  clear: right;
  text-align: center;
  border-left: 1px solid;
  padding-top: 4px;
  padding-left: 4px;
  margin-left: 4px;
}

.display_price {
  float: right;
  clear: right;
  width: 100px;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  border-left: 1px solid;
  padding-bottom: 4px;
  padding-left: 4px;
}

.model {
  display: inline;
  margin-right: 2em;
  font-weight: bold;
}

h3.title {
  margin-top: 1em;
}

.node-form .product-field table {
  width: auto;
  margin: 0;
}

.node-form .product-field td {
  padding: 3px 6px 0 0;
}

.node-form tbody {
  border: none;
  margin: 0;
}

.node-form .product-field table .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

.node-form .product-field input {
  width: auto;
}
