/**
 * @file
 * Styles for uc_product module.
 */
.product-image {
  clear: right;
  float: right;
  margin-left: 4px;
  padding-left: 4px;
  padding-top: 4px;
  text-align: center;
}

.display-price {
  clear: right;
  float: right;
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 4px;
  padding-left: 4px;
  text-align: center;
}

.model {
  display: inline;
  font-weight: bold;
  margin-right: 2em;
}

.node-form .product-field table {
  border: 0;
  margin: 0;
  width: auto;
}

.node-form .product-field td {
  border: 0;
  padding: 3px 6px 0 0;
}

.node-form .product-field tbody {
  border: none;
  margin: 0;
}

.node-form .product-field table .form-item {
  margin-bottom: 0;
  margin-top: 0;
}

.node-form .product-field .form-text {
  display: inline;
  width: auto;
}

#products-selector table {
  margin: 0em 0em;
}

#products-selector td {
  padding: 0em .5em;
}

div#products-selector form {
  margin-bottom: 0em;
}

#products-selector div.form-item {
  margin-bottom: .5em;
  margin-top: .5em;
}

table.product-list {
  clear: both;
}

.add-feature div {
  padding-right: 1em;
}

.add-feature div, .add-feature label {
  display: inline;
}
