/* $Id$ */

.sales-year  {
  display:inline;
} 

.sales-year .form-item {
  display:inline;
}

.uc-sales-table tr.odd:hover, .uc-sales-table tr.even:hover {
  background-color:#DDDDDD;
}

.uc-sales-table td {
  vertical-align:top;
}

.report-date-table {
  width:auto;
}

.report-submit {
  float:right;
}

.report-date-table td {
  vertical-align:bottom;
}

.report-date-table td div {
  margin:0px;
}

form.uc-reports-customize-report-form fieldset.collapsible .fieldset-wrapper {
  overflow:visible;
}