.shipping_address {
  float: left;
  border-style: solid;
  border-color: #bbb;
  border-width: 1px;
  padding: .5em;
  margin: .5em;;
  width: auto;
  line-height: 1.1em;
}

.shipment_data {
  clear: left;
  float: left;
  border-style: solid;
  border-color: #bbb;
  border-width: 1px;
  padding: .5em;
  margin: .5em;;
  width: auto;
  line-height: 1.1em;
}

.form-submit {
  clear: both;
}
