/**
 * @file
 * Styles for uc_payment module.
 */

#payment-details {
  border: solid 1px #bbb;
  padding: 5px;
}

.payment-details-cod .form-item {
  display: block;
  float: left;
  padding-right: 5px;
}

#line-items-div {
  padding: .5em 1em;
  margin-bottom: 1em;
  border: dashed 1px #bbb;
}
