/* $Id$ */

#block-cart-icon {
  padding-right: 1em;
}

#block-cart-title-bar {
  cursor: pointer;
  white-space: nowrap;
}

#block-cart-title-arrow {
  padding-top: 5px;
  padding-right: 2px;
}

.cart-help-text {
  font-size: x-small;
  position: relative;
  top: -5px;
}

#block-cart-title-image {
  padding-right: 5px;
}
.block-cart-title-bar {
  white-space: nowrap;
}
.cart-block-toggle {
  cursor: pointer;
}
#block-cart-title-arrow {
  position: relative;
  top: -5px;
  right: -23px;
}
.cart-block-table {
  border-bottom: 2px;
  padding: 2px;
}
.cart-block-tbody {
  border-top: 0px;
}
.cart-block-item {
  vertical-align: top;
}
.cart-block-item-qty {}
.cart-block-item-title {
  width: 100%;
}
.cart-block-item-price {
  text-align: right;
  white-space: nowrap;
}
.cart-block-summary-table {
  padding: 2px;
}
.cart-block-summary-tbody {
  border-top: 0px;
}
.cart-block-summary-tr {
  vertical-align: top;
}
.cart-block-summary-items {
  white-space: nowrap;
}
.cart-block-summary-total {
  width: 100%;
  text-align: right;
}
.cart-block-summary-checkout {
  text-align: right;
}

#block-cart-contents ul.cart-options {
  margin: 0pt;
  padding: 0pt 0pt 0.25em 1em;
}
#block-cart-contents .cart-options li {
  margin: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  font-size: .7em;
}
