/* $Id$ */

#block-cart-icon {
  padding-right: 5px;
}

#block-cart-title-bar {
  cursor: pointer;
  white-space: nowrap;
}

#block-cart-title-arrow {
  padding-top: 5px;
  padding-right: 2px;
}

.cart-help-text {
  font-size: x-small;
  position: relative;
  top: -5px;
}
