/* $Id$ */

/* These classes should really be universal... pretty standard stuff. */

.full-width {
  width: 100%;
}

.solid-border {
  border: solid 1px #bbb;
  padding: 5px;
}

.solid-border td {
  padding: 5px;
}

.show-onload {
  display: none;
}

.display-none {
  display: none;
}

.order-review-table {
  width: auto;
  margin: auto;
  border: solid 1px #999;
  font-size: .9em;
  line-height: 1.4em;
}

.order-review-table td {
  padding-top: 0.1em;
  padding-bottom: 0.2em;
}

.order-review-table .pane-title-row {
  text-align: center;
  font-weight: bold;
  border: solid 1px #999;
  background-color: #ddd;
  padding: .5em 1em;
}

.order-review-table .title-col {
  text-align: right;
  font-weight: bold;
  padding-left: 3em;
}

.order-review-table .data-col {
  padding-right: 3em;
}

.order-review-table .row-border-top {
  border-top: solid 1px #999;
}

.order-review-table .row-border-bottom {
  border-bottom: solid 1px #999;
}

.order-review-table .review-button-row {
  text-align: right;
  background-color: #ddd;
  border: solid 1px #999;
}

.order-review-table .review-button-row form {
  display: inline;
}


/* I cannot testify for any of the data below.. it's a hodge podge. */

.checkout-pane {
  border-style: dashed;
  border-width: thin;
  border-color: #bbb;
  padding: 5px;
}

.checkout-pane .pane-title {
  position: relative;
  top: -13px;
  font-weight: bold;
}

.pane-table tbody {
  border-top: 0px;
}

.pane-description {
  font-size: 1em;
  margin-bottom: 1em;
}

.cart-table {
  padding-top: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #bbb;
  padding: 5px;
}

.cart-table tbody {
  border-top: 0px;
}

.cart-table .header {
  font-weight: bold;
}

.cart-table em {
  font-size: 0.75em;
}

.continue-button {
  margin-top: 1em;
  text-align: right;
}


/*.form-item label {
  display: inline;
}*/


.form-item .form-text {
  width: auto;
  display: inline;
}

.cust_name div {
  display: inline;
}

.cust_name .form_item {
  display: inline;
}

/*#edit-panes-delivery-pane-deliv_first_name {
  float: left;
}*/

#uc_cart_view_form img {
  padding-right: .8em;
  float: left;
}

/* #uc_cart_view_form .form-text {
  position: relative;
  left: -1em;
}
 */
#uc_cart_view_form ul {
  font-style: italic;
  font-size: 0.75em;
}

#uc_cart_view_form .sub-product {
  padding-left: 2em;
}

.field-label {
  text-align: right;
  font-weight: bold;
}

.pane-table {
  margin-left: auto;
  margin-right: auto;
}

.pane-table .form-item {
  display: inline;
}

.display-inline .form-item {
  display: inline;
}

.cart-options {
  font-size: .7em;
}

#line-items-div table {
  width: auto;
}

#line-items-div td {
  padding: 0em 1em;
}

#line-items-div tbody {
  border-top: 0px;
}

.address-book-icon {
  position: relative;
  top: 2px;
  margin-left: 2px;
}
