/* $Id$ */

.uc-store-admin-table {
  margin: 1em auto;
  border: 1px dashed #bbb;
}

.uc-store-admin-table tbody {
  border-top: 0px;
}

.uc-store-admin-panel {
  margin: 1em;
  padding: 1em;
}

.uc-store-admin-panel .uc-store-icon {
  float: left;
  margin-right: 1em;
}

.uc-store-admin-panel .panel-title {
  padding-top: 4px;
  font-size: 1.5em;
  width: 100%;
}

.uc-store-admin-panel .panel-show-link a {
  cursor: pointer;
}

.uc-customer-table .uc-store-icon {
  float: left;
  margin-right: .5em;
}

.uc-customer-table tr.odd:hover, .uc-customer-table tr.even:hover {
  background-color: #ddd;
}

.uc-cust-orders-table tr.odd:hover, .uc-cust-orders-table tr.even:hover {
  background-color: #ddd;
}

.uc-cust-orders-table .uc-store-icon {
  float: left;
  margin-right: .5em;
}

#store-footer {
  width: 100%;
  text-align: center;
  font-size: x-small;
  clear: both;
}

table.settings-overview {
  width: auto;
}

table.settings-overview td {
  padding: .5em;
}

table.settings-overview tbody {
  border: 0px;
}

table.settings-overview tr.section {
  border: 1px dashed #bbb;
}

.section-title {
  font-weight: bold;
}

table.section-items {
  width: auto;
}

table.section-items td {
  padding: .25em;
}

.settings-icon {
  position: relative;
  top: 1px;
  left: 1px;
}

tr.section {
  cursor: pointer;
}

tr.section:hover {
  background-color: #ddd;
}

#uc-country-import-form .form-item, #uc-country-import-form .form-item label {
  display: inline;
  float: left;
  margin-right: 1em;
}

#uc-country-import-form .form-submit {
  float: left;
  margin-top: 1em;
}

#uc-country-import-form table {
  clear: left;
}

.summary-overview {
  padding: .5em;
  border: 1px dashed #bbb;
  margin-bottom: -1px;
}

.summary-title {
  font-weight: bold;
}
