/* $Id$ */

#store-links, #store-links ul {
  padding: 0;
  margin: 0;
  list-style: none; 
  line-height: 1.75em;
  z-index: 1000;
}

#store-links a {
  display: block;
  width: 14em;
  padding-left: 4px;
  z-index: 1000;
}

#store-links a img.uc-store-icon {
  text-decoration: none;
  float: left;
  margin: 3px 6px 3px 2px;
}

#store-links li {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  background-image: none;
  border: solid 1px black;
  float: left;
  width: 14em;
  z-index: 1000;
}

#store-links li ul{
  position: absolute;
  width: 14em;
  left: -999em;
  margin: -1.75em 0 0 14em;
  z-index: 1000;
}

#store-links li:hover ul ul, #store-links li:hover ul ul ul, #store-links li.sfhover ul ul, #store-links li.sfhover ul ul ul {
  left: -999em;
}

#store-links li:hover ul, #store-links li li:hover ul, #store-links li li li:hover ul, #store-links li.sfhover ul, #store-links li li.sfhover ul, #store-links li li li.sfhover ul {
  left: auto;
}

.uc-store-admin-table {
  margin: 1em auto;
  border: 1px dashed #bbb;
}

.uc-store-admin-table tbody {
  border-top: 0px;
}

.uc-store-admin-panel {
  margin: 1em;
  padding: 1em;
}

.uc-store-admin-panel .uc-store-icon {
  float: left;
  margin-right: 1em;
}

.uc-store-admin-panel .panel-title {
  padding-top: 4px;
  font-size: 1.5em;
  width: 100%;
}

.uc-store-admin-panel .panel-show-link a {
  cursor: pointer;
}

.uc-customer-table .uc-store-icon {
  float: left;
  margin-right: .5em;
}

.uc-customer-table tr.odd:hover, .uc-customer-table tr.even:hover {
  background-color: #ddd;
}

.uc-cust-orders-table tr.odd:hover, .uc-cust-orders-table tr.even:hover {
  background-color: #ddd;
}

.uc-cust-orders-table .uc-store-icon {
  float: left;
  margin-right: .5em;
}

#store-footer {
  width: 100%;
  text-align: center;
  font-size: x-small;
  clear: both;
}

table.settings-overview {
  width: auto;
}

table.settings-overview td {
  padding: .5em;
}

table.settings-overview tbody {
  border: 0px;
}

table.settings-overview tr.section {
  border: 1px dashed #bbb;
}

.section-title {
  font-weight: bold;
}

table.section-items {
  width: auto;
}

table.section-items td {
  padding: .25em;
}

.settings-icon {
  position: relative;
  top: 1px;
  left: 1px;
}

tr.section {
  cursor: pointer;
}

tr.section:hover {
  background-color: #ddd;
}
