/* $Id$ */

/**
 * @file
 * Styles for uc_store module.
 */
.uc-price {
  white-space: nowrap;
}

.uc-customer-table .uc-store-icon {
  float: left;
  margin-right: .5em;
}

.uc-customer-table tr.odd:hover, .uc-customer-table tr.even:hover {
  background-color: #ddd;
}

.uc-cust-orders-table tr.odd:hover, .uc-cust-orders-table tr.even:hover {
  background-color: #ddd;
}

.uc-cust-orders-table .uc-store-icon {
  float: left;
  margin-right: .5em;
}

#store-footer {
  clear: both;
  font-size: x-small;
  text-align: center;
  width: 100%;
}

#uc-country-import-form .form-item, #uc-country-import-form .form-item label {
  display: inline;
  float: left;
  margin-right: 1em;
}

#uc-country-import-form .form-submit {
  float: left;
  margin-top: 1em;
}

#uc-country-import-form table {
  clear: left;
}

/**
 * CSS enhancements for Ubercart summary overviews.
 */

.summary-overview {
  border: 1px dashed #bbb;
  margin-bottom: -1px;
  padding: .5em;
}

.summary-title {
  font-weight: bold;
}

.summaryOnclick-processed {
  cursor: pointer;
}

.summaryOnclick-processed:hover {
  background-color: #ddd;
}

.summary-edit-icon {
  float: left;
  margin-right: .5em;
  position: relative;
  top: 2px;
}

.summaryOnclick-processed .item-list {
  margin-left: 1.75em;
}

.summaryOnclick-processed .summary-link {
  display: none;
}

.ubercart-throbber {
  background-image: url(images/throbber.gif);
  background-position: 100% -20px;
  background-repeat: no-repeat;
}

/* Add icon support for admin (http://drupal.org/project/admin). */
.path-admin-store-orders span.icon {
  background: transparent url('images/menu_orders.gif') no-repeat !important;
}
.path-admin-store-customers span.icon {
  background: transparent url('images/menu_customers.gif') no-repeat !important;
}
.path-admin-store-products span.icon {
  background: transparent url('images/menu_products.gif') no-repeat !important;
}
.path-admin-store-settings span.icon {
  background: transparent url('images/menu_store_settings.gif') no-repeat !important;
}
.path-admin-store-attributes span.icon {
  background: transparent url('images/menu_store_settings.gif') no-repeat !important;
}
.path-admin-store-reports span.icon {
  background: transparent url('images/menu_reports.gif') no-repeat !important;
}
.path-admin-store-help span.icon {
  background: transparent url('images/menu_help.gif') no-repeat !important;
}
