/* $Id$ */

img.category {
  float: right;
}

table.category-products {
  clear: right;
  width: 100%;
}

table.category {
  clear: right;
  width: 100%;
}

table.category *, table.category * tr {
  border: none;
  background-color: transparent;
}

td.category {
  /* border: 1px solid #555; */
  width: 33%;
  text-align: center;
  vertical-align: top;
}

td.category div {
  margin: 0.5em auto 0 auto;
  padding: 0;
}

td.category img {
  margin: 0;
  padding: 0;
}

td.category span {
  font-size: x-small;
  line-height: 0.2;
}
