/* $Id$ */

img.category {
  float: right;
}

table#category-products {
  clear: right;
  width: 100%;
}

table.category {
  clear: right;
  width: 100%;
}

table.category *, table.category * tr {
  border: none;
  background-color: transparent;
}

td.category {
  /* border: 1px solid #555; */
  text-align: center;
  vertical-align: top;
}

td.category.width_1 {
  width: 100%;
}

td.category.width_2 {
  width: 50%;
}

td.category.width_3 {
  width: 33%;
}

td.category.width_4 {
  width: 25%;
}

td.category.width_5 {
  width: 20%;
}

td.category div {
  margin: 0.5em auto 0 auto;
  padding: 0;
}

td.category img {
  margin: 0;
  padding: 0;
}

td.category span {
  font-size: x-small;
  line-height: 0.2;
}

table#category-products form {
  margin-top: 1em;
  margin-bottom: 1em;
}

#category-selector {
  background-color: #dddddd;
  border: 1px solid #999999;
  margin-bottom: 1em;
  margin-right: 2em;
  width: auto;
}
